import sqlite3, it is in-memory database.

In [1]:
import sqlite3

create database using sqlite.connect()

In [2]:
db = sqlite3.connect('database.db')

create cursur

In [3]:
cursor = db.cursor()

create table

In [4]:
cursor.execute('create table table1(name text, batch_id int, marks real)')
print('table has created successfulyy')

table has created successfulyy

insert operation in sqlite database

In [5]:
cursor.execute('insert into table1(name,batch_id,marks) values ("sachin", 1001, 89)')

And we can see in below cell, data has inserted successfully

In [6]:
for i in cursor.execute('select * from table1'):
    print(i)

('sachin', 1001, 89.0)

In [7]:
cursor.execute('insert into table1(name,batch_id,marks) values ("viraj", 1002, 92)')
cursor.execute('insert into table1(name,batch_id,marks) values ("shivaji", 1003, 93)')
cursor.execute('insert into table1(name,batch_id,marks) values ("banti", 1004, 92)')
cursor.execute('insert into table1(name,batch_id,marks) values ("aksah", 1005, 93)')

In [9]:
for i in cursor.execute('select * from table1'):
    print(i)
# Data has inserted successfully

('sachin', 1001, 89.0)
('viraj', 1002, 92.0)
('shivaji', 1003, 93.0)
('banti', 1004, 92.0)
('aksah', 1005, 93.0)

In [10]:
db.commit()
# saved all the changes of database

Search and fetch data

In [11]:
for i in cursor.execute('select * from table1 where marks > 90'):
    print(i)

('viraj', 1002, 92.0)
('shivaji', 1003, 93.0)
('banti', 1004, 92.0)
('aksah', 1005, 93.0)

In [14]:
for i in cursor.execute('select * from table1 order by marks'):
    print(i)

('sachin', 1001, 89.0)
('viraj', 1002, 92.0)
('banti', 1004, 92.0)
('shivaji', 1003, 93.0)
('aksah', 1005, 93.0)

Update

In [19]:
cursor.execute('update table1 set marks=90 where name ="sachin"')

In [20]:
for i in cursor.execute('select * from table1 where marks =90'):
    print(i)

('sachin', 1001, 90.0)

Delete

In [22]:
cursor.execute('delete from table1 where name = "aksah"')
for i in cursor.execute('select * from table1'):
    print(i)
#  there is no record with aksah name, hence we can see data has deleted successfully

('sachin', 1001, 90.0)
('viraj', 1002, 92.0)
('shivaji', 1003, 93.0)
('banti', 1004, 92.0)

Drop table

In [ ]:
cursor.execute('drop table table1')

Here we have performed all the operations of database in sqlite3

In [23]:
db.close()
print('database closed successfully')

database closed successfully